body{
            background-image: url("../public/img/body3.jpg");    
    }
      h1{
          color:white;
        }
      h4{
          font-size:20px;
          color:white;
          font-style:italic;
        }

      h5{
          font-size:18px;
          color:white;
        }
  .banner1{
    width:65%;
    float:right;
  }

  #border1{
          border-width:5px;  
          border-style:double;
      }
 .container{
  float:center;
 }           