    #border2  
      {
        top: 0;
        margin-top: -8px;
        border-width:1px;  
        border-style:double;
        width:165px;
        height: 37px;
      }
    #navlinks_about
    {
      font-weight: bold;
      font-size: 16px;
    }
    #search_btn
    {
      background-image: url("../public/img/body3.jpg");
      width: 95px;
      font-style: italic;
      font-variant:small-caps;
      font-size: 13px;
    }
    #headcss
    {
      position:fixed;
      background-image: url("../public/img/body4.jpg");
      width: 100%;
      height: 42px;
      border-width:0px;  
      border-style:hidden;
      top: 0;
      z-index: 999;
    }
    .navbar-collapse
    {
      background-image: url("../public/img/body4.jpg");
    }
    #toggle_btn
    {
      background-image:url("../public/img/body3.jpg");
    }
    #navwrapper
    {
      width:100%;
      height: 48px;
      background-color: transparent;
    }
    h6
    {
      font-size:10px;
      color: "black";
    }    